<%page args="SETTINGS" />

## inheritance
<%! FORM_ID='role-form' %>
<%inherit file="base_form.html" />


## formatting helpers
<%!
    selected_settings= {
        "secret_channel": {
            "name": "Release Channel"
        },
        "error_channel": {
            "name": "Error Channel"
        },
    }
%>

<%block name="table_head">
    <tr><th colspan="2">(WIP) General Settings</th></tr>
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
</%block>

<%block name="table_body" args="SETTINGS">
    % for x,y in selected_settings.items():
        <tr class="general-row">
            <td><label>${y['name']}</label></td>
            <td><input name="${x}" placeholder="${SETTINGS[x]}"/></td>
        </tr>
    % endfor
</%block>