<%page args="SETTINGS" />


<% # formatting funcs
    from webview import utils
%>

<% # strings
    tooltips= dict(
        name= "Comma-separated, case-insensitive list of terms to match. eg &quot;run&quot; will match &quot;Knight Run&quot; and &quot;Trunk Beater&quot;",
        role= "Comma-separated list of role ids / names."
    )
%>

<form id="role-form">
    <table>
        <thead>
            <tr><th colspan="2">Role Settings</th></tr>

            <tr>
                <th title="${tooltips['name']}" class="name">Series Name</th>
                <th title="${tooltips['role']}" class="role">Role(s)</th>
            </tr>
        </thead>

        <tbody>
            % for role,pinged in SETTINGS.items():
                <tr>
                    <td>
                        <input placeholder=${role}"/>
                    </td>
                    <td>
                        <input placeholder="${utils.list_to_string(pinged)}"/>
                    </td>
                </tr>
            % endfor
        </tbody>
    </table>
</form>