<% page args="ROLES" />


<% # formatting funcs
    def list_to_string(lst):
        if isinstance(lst, str):
            return lst
        return ", ".join(lst)
%>

<% # strings
    tooltips= dict(
        name= "Comma-separated, case-insensitive list of terms to match. eg &quot;run&quot; will match &quot;Knight Run&quot; and &quot;Trunk Beater&quot;",
        role= "Comma-separated list of role ids / names."
    )
%>

<table id="role-settings">
    <thead>
        <th title="${tooltips['name']}" class="name">Series Name</th>
        <th title="${tootltips['role']}" class="role">Role(s)</th>
    </thead>

    <tbody>
        % for role,pinged in ROLES.items()
            <tr>
                <td>
                    <input type="test" placeholder="${role}"/>
                </td>
                <td>
                    <input type="test" placeholder="${list_to_string(pinged)}"/>
                </td>
            </tr>
        % end for
    </tbody>
</table>